<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings >
    <add name="PettoStudio.AppServices" connectionString="Server=tcp:neshbhz2jj.database.windows.net,1433;Database=PettoStudio.AppServices;User ID=pettostudio@neshbhz2jj;Password=Pettofeifei625;Trusted_Connection=False;Encrypt=True;Connection Timeout=60;pooling=true;Max Pool Size=1000" />
  </connectionStrings>
  <appSettings>
    <add key="defalut" value="7"/>

    <add key="zh-cn" value="1800"/>
    <add key="en-gb" value="100"/>
    <add key="it-it" value="100"/>
    <add key="es-mx" value="100"/>
    <add key="en-us" value="80"/>
    <add key="en-in" value="95"/>
    <add key="tr-tr" value="7"/>
    <add key="fr-fr" value="7"/>
    <add key="pl-pl" value="7"/>
    <add key="en-ca" value="7"/>
    <add key="de-de" value="7"/>
    <add key="en-ph" value="7"/>
    <add key="en-au" value="7"/>
    <add key="ru-ru" value="2000"/>
    <add key="pt-br" value="100"/>
    <add key="vi-vn" value="85"/>
  </appSettings>
</configuration>